ion-card {
  margin: 10px;
  ion-card-title {
    font-size: 20px;
    margin-bottom: -20px;
  }
}

/* Thumbnails dos PDFs pesquisados */
ion-thumbnail.search-thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

/* Thumbnails dos PDFs vistos recentemente permanecem inalterados */
ion-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  max-height: 120px;
}


ion-searchbar {
  position: absolute;
  margin-top: -50px;
}

ion-button.search-button {
  display: block;
  width: 50%;
  margin: 10px auto;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-transform: none;
  --padding-start: 0;
  --padding-end: 0;
}

ion-button.search-button::part(native) {
  height: 35px;
  line-height: 35px;
}


.background {
  opacity: 0.6;
  width: 100vw;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.menu-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  z-index: 999;
}

.goPrev-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 32px;
  z-index: 999;
  color: var(--ion-color-primary);
}

.container {
  background-color: transparent;
  box-shadow: none;
  margin-top: 50px;
}

.recents {
  background-color: transparent;
  box-shadow: none;
  margin-top: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  .slide-link {
    font-size: 25px;
    font-weight: 200;
    color: var(--ion-color-primary);
  }
}

.slide-wrapper {
  margin-top: 20px;
}
