<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar PDF à Pasta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Escolha uma Pasta</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let folder of folders" (click)="addPdfToFolder(folder)">
      <ion-label>{{ folder.title }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary" (click)="createNewFolder()">
    Criar Nova Pasta
  </ion-button>
</ion-content>
