<ion-content [fullscreen]="true">
  <ion-img
    class="background"
    src="../../../assets/images/header2.svg"
  ></ion-img>

  <ion-grid>
    <div class="header">
      <h2>Minhas Pastas</h2>
    </div>
    <ng-container *ngIf="selectedFolder; else folderList">
      <ion-icon
        name="chevron-back-outline"
        class="goPrev-icon"
        (click)="backToFolders()"
      ></ion-icon>
      <ion-row>
        <ion-col size="6" *ngFor="let pdf of pdfs">
          <ion-card (click)="openPDF(pdf)">
            <img [src]="pdf.thumbnail" alt="Miniatura do PDF" />
            <ion-card-header>
              <ion-card-title>{{ pdf.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ pdf.description }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-template #folderList>
      <ion-icon
        name="chevron-back-outline"
        class="goPrev-icon"
        *ngIf="selectedFolder"
        (click)="backToFolders()"
      ></ion-icon>

      <ion-row>
        <ion-col size="4" *ngFor="let folder of folders; let i = index">
          <ion-card (click)="selectFolder(folder)">
            <ion-thumbnail class="folder-thumbnail">
              <ion-icon
                class="folder-icon"
                name="folder-outline"
                color="secondary"
              ></ion-icon>
              <img
                [src]="folder.previewImageUrl"
                *ngIf="folder.previewImageUrl"
                alt="Preview PDF"
              />
            </ion-thumbnail>
            <ion-card-header>
              <div>
                <span>{{ folder.title }}</span>
                <p class="pdf-length">{{ folder.pdfs.length }} PDFs</p>
              </div>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div
      class="tooltip-container"
      [ngClass]="{'show-tooltip': isTooltipVisible}"
    >
      <ion-fab-button (click)="toggleTooltip()">
        <ion-icon
          class="add-icon"
          [name]="isHammerIcon ? 'hammer-outline' : 'close-outline'"
        ></ion-icon>
      </ion-fab-button>

      <ion-fab-button
        class="tooltip1"
        (click)="CreateFolderAlert()"
        *ngIf="isTooltipVisible"
      >
        <ion-icon class="add-icon" name="add-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>
</ion-content>
