<ion-content [fullscreen]="true">
  <ion-img
    class="background"
    src="../../../assets/images/header2.svg"
  ></ion-img>
  <ion-icon name="chevron-back-outline" class="goBack-icon"></ion-icon>

  <ion-grid>
    <div class="header">
      <h2>Minhas Pastas</h2>
    </div>
    <ion-row>
      <ion-col size="4" *ngFor="let folder of folders;let i = index">
        <ion-card (click)="openFolder(folder)">
          <ion-thumbnail class="folder-thumbnail">
            <ion-icon
              class="folder-icon"
              name="folder-outline"
              color="secondary"
            ></ion-icon>

            <img
              [src]="folder.previewImageUrl"
              *ngIf="folder.previewImageUrl"
              alt="Preview PDF"
            />
          </ion-thumbnail>

          <ion-card-header>
            <div class="folder-name">
              <span> {{ folder.name }} </span>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="tooltip-container">
      <ion-fab-button>
        <ion-icon class="add-icon" name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="tooltip1">
        <ion-icon class="add-icon" name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="tooltip2">
        <ion-icon class="add-icon" name="star-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>
</ion-content>
