<ion-content [fullscreen]="true">
  <div class="container">
    <img src="logo.png" alt="App Logo" class="logo" />
    <h1 class="intro">Bem-Vindo(a), usuário</h1>
  </div>
  <a
    ><ion-icon name="menu-outline" class="menu-icon" color="primary"></ion-icon
  ></a>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Sugerido</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-thumbnail class="thumbnail">
            <img src="../../../assets/images/pdf.png" alt="Imagem Sugerida" />
          </ion-thumbnail>
        </ion-col>

        <ion-col size="8" class="content">
          <h2 class="title" color="primary">Título</h2>
          <p class="description">
            Descrição do item sugerido, com mais detalhes.
          </p>
          <div class="stars">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary"
        >Favoritos <ion-icon name="star-outline" color="primary"></ion-icon
      ></ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let pdf of favoritePDFs">
          <ion-card (click)="openPDF(pdf)">
            <ion-thumbnail>
              <img [src]="pdf.thumbnailUrl" alt="Thumbnail" />
            </ion-thumbnail>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button fill="clear" (click)="navigateToFavorites()">
      Ver mais <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/log-in']">
      <ion-icon class="add-icon" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
