<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/images/wallpaper.png"></ion-img>
  <ion-img src="../../../assets/images/wallpaper.png"></ion-img>
  <div class="header">
    <ion-card-title class="title"> Insira seu email
      <p class="subtitle"> Para receber um link e resetar a sua senha.</p>
    </ion-card-title>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-input
        [clearInput]="true"
        type="email"
        placeholder="email@email.com"
        class="input"
      ></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <div class="submit-btn">
      <ion-button expand="block" size="small" shape="round">Enviar</ion-button>
    </div>

    <div class="login-link">
      <p>
        Lembrou da senha? <a [routerLink]="['/log-in']"> Volte para o Login!</a>
      </p>
    </div>
  </div>
</ion-content>
