<ion-content [fullscreen]="true">
  <div class="header">
    <ion-card-title class="title"> Insira seu email
      <p class="subtitle"> Para receber um link para resetar a senha</p>
    </ion-card-title>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-input
        [clearInput]="true"
        type="email"
        placeholder="email@email.com"
        class="input"
      ></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

    <div class="login-link">
      <p>
        Lembrou da senha? <a [routerLink]="['/log-in']"> Volte para o Login!</a>
      </p>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button [routerLink]="['/log-in']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
