ion-header {
  position: absolute;
}

ion-item {
  margin-bottom: 16px;
}

ion-input {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none;
}

ion-card-title {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  color: var(--ion-color-primary);
}

.signup-link {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 40px;
  right: 0;
  width: 80%;
  p {
    font-size: 0.9rem;
    color: #000000;
  }
}

.forgot-password {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
  a {
    font-size: 0.8rem;
  }
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  ion-button {
    color: var(--ion-color-primary);
    font-size: 18px;
    font-weight: 600;
    width: 200px;
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.text-tag {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  span {
    font-size: 16px;
    font-weight: 100;
    color: #000000;
  }
}

.google-btn {
  text-align: center;
}
