@font-face {
    font-family: Rajdhani;
    src: url("../assets/fonts/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: Rajdhani;
    src: url("../assets/fonts/Rajdhani-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Rajdhani;
    src: url("../assets/fonts/Rajdhani-Bold.ttf");
    font-weight: 700;
}
