<ion-content [fullscreen]="true">
  <ion-img
    class="background"
    src="../../../assets/images/header2.svg"
  ></ion-img>
  <a><ion-icon name="chevron-back-outline" class="goPrev-icon" [routerLink]="['/tabs/tabs/profile']"></ion-icon></a>

  <div class="header">
    <h2>Meus Uploads</h2>
  </div>

  <ion-card class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let pdf of myUploadedPDFs">
          <ion-card class="info">
            <ion-thumbnail>
              <img alt="Thumbnail" />
            </ion-thumbnail>
            <h2 class="title" color="primary">{{pdf.title}}</h2>
            <p class="description">{{pdf.description}}</p>
            <p class="user">&#64; usuário</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
